@page "/"

<h1>Sample Blazor WebAssembly App</h1>

This is a Blazor WebAssembly application that retrieves a list of books using an Azure Function Api call.

<SurveyPrompt Title="How is Blazor working for you?" />
