<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookfunctionapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4ecfc675-3822-47cf-a597-6555a6967428/resourcegroups/rg-blazor-test-001/providers/Microsoft.Web/sites/BookFunctionApi</ResourceId>
    <UserName>$BookFunctionApi</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bookfunctionapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>